@import "./var.scss";
@import "./button.scss";
@import "./icon.scss";

#widget-tree {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: -20rem;
  bottom: 0px;

  box-sizing: border-box;
  width: 20rem;
  padding: 1rem 0.5rem;
  background-color: var(--hwt-bg-color);

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: auto;

  transition: all 0.2s;
  &.open {
    left: 0rem;
  }

  > ul {
    padding-right: 1rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 1rem;
  }

  a {
    color: var(--hwt-text-color);
    cursor: pointer;

    &:hover {
      color: var(--hwt-active-color);
    }
  }
}

.toggle-post-icon,
.toggle-toc-icon {
  color: var(--hwt-text-color);
  display: inline-block;
  vertical-align: -3px;
  margin-right: 5px;
  --ggs: 0.75;

  &:hover {
    color: dodgerblue;
    cursor: pointer;
  }
}

.post-icon {
  display: inline-block;
  vertical-align: -3px;
  margin-right: 4px;
  --ggs: 0.75;
}

.tree-list {
  &-post-link {
    font-size: 0.9rem;
  }

  &-count {
    float: right;
  }
}

.tree-list-item,
.tree-list-children {
  .tree-list-children {
    display: none;
  }

  &.open {
    > .toggle-post-icon {
      color: var(--hwt-active-color);
    }
    > .tree-list-children {
      display: block;
    }
  }
}
// toc
.tree-post-toc {
  display: none;
}

.tree-list-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &.open {
    > .toggle-toc-icon {
      color: var(--hwt-active-color);
    }
    > .tree-post-toc {
      display: block;
    }
  }
}

.tree-post-toc,
.tree-post-toc-child {
  list-style-type: none;
  padding-left: 0.9rem;
  font-size: 0.85rem;
}
